* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;   
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 25px;
}

.nav-left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.nav-left ul {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.nav-left ul li {
    list-style: none;
}

.nav-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}



