* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 25px;
}

.nav-left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    padding: 5px 30px;
}

.nav-left h1 {
    font-size: 32px;
}

.nav-left ul {
    display: flex;
    justify-content: space-between;
    gap: 25px;
    padding: 0 30px;
}

.nav-left ul li {
    list-style: none;
    font-size: 16px;
}

.nav-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
    padding: 5px 30px;
}

.nav-right button {
    padding: 13px 35px;
    background: #0B3D91;
    border: none;
    font-size: 16px;
    color: white;
    border-radius: 9px;
}

.fa-magnifying-glass {
    color: #FC3D21;
}

.first {
    display: flex;
    justify-content: space-between;
    gap: 25px;
    padding: 10px 25px;
}

.sec1-leftside {
    padding: 10px 30px;
}

.sec1-leftside h3 {
    font-size: 16px;
    color: #8c89a2;
    line-height: 28px;
}

.dynamic-content {
    padding: 5px 0;
    font-size: 32px;
    border: 1px solid #0B3D91;
}

.random-content {
    padding: 10px 0;
    color: #555555;
}

.sec1-rightside img {
    width: 40vw;
    height: 60vh;
    object-fit: cover;
    padding: 10px 30px;

}

.random-content {
    padding: 30px 0;
}

.btn-1 {
    padding: 15px 30px;
    border: none;
    background: #0B3D91;
    color: white;
    border-radius: 9px;
    font-size: 16px;
}

.btn-2 {
    padding: 15px 30px;
    border: 1px solid #0B3D91;
    border-radius: 9px;
    font-size: 16px;
    background-color: white;
    color: #0B3D91;
}