* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 25px;
    max-width: 1200px;
    margin: auto;
}

.nav-left,
.nav-right {
    display: flex;
    align-items: center;
    gap: 30px;
}

.nav-left {
    padding: 5px 0;
}

.nav-left h1 {
    font-size: 32px;
}

.nav-left ul {
    display: flex;
    gap: 25px;
    list-style: none;
}

.nav-left ul li {
    font-size: 16px;
}

.nav-right {
    padding: 5px 0;
}

.nav-right button {
    padding: 13px 35px;
    background: #0B3D91;
    border: none;
    font-size: 16px;
    color: white;
    border-radius: 9px;
}

.fa-magnifying-glass {
    color: #FC3D21;
}

.first {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
    padding: 60px 25px;
    max-width: 1200px;
    margin: auto;
}

.sec1-leftside {
    flex: 1;
    padding: 10px 30px;
}

.sec1-leftside h3 {
    font-size: 16px;
    color: #8c89a2;
    line-height: 28px;
}

.dynamic-content {
    padding: 5px 0;
    font-size: 32px;
    border: 1px solid #0B3D91;
    margin: 10px 0;
}

.random-content {
    padding: 30px 0;
    color: #555555;
}

.sec1-rightside {
    flex: 1;
    padding: 10px 30px;
    display: flex;
    justify-content: center;
}

.sec1-rightside img {
    width: 100%;
    max-width: 500px;
    height: auto;
    object-fit: cover;
}

.btn-1 {
    padding: 15px 30px;
    border: none;
    background: #0B3D91;
    color: white;
    border-radius: 9px;
    font-size: 16px;
    margin-right: 10px;
}

.btn-2 {
    padding: 15px 30px;
    border: 1px solid #0B3D91;
    border-radius: 9px;
    font-size: 16px;
    background-color: white;
    color: #0B3D91;
}

.second {
    background: #f5f6f9;
}

.upper {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 65px 30px;
    max-width: 1200px;
    margin: auto;
}

.left {
    width: 45%;
}

.left h3 {
    color: #555555;
    font-size: 18px;
}

.left p {
    font-size: 36px;
    font-weight: bold;
    text-transform: capitalize;
}

.right {
    width: 55%;
    padding-top: 30px;
    line-height: 24px;
    font-size: 16px;
}

.right p {
    color: #555555;
}

.bottom {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 40px 30px 120px 30px;
    max-width: 1200px;
    margin: auto;
}

.bottom i {
    font-size: 42px;
    padding-bottom: 10px;
    color: #0B3D91;
}

.bottom p {
    color: #555555;
    padding-top: 7px;
}

.third {
    position: relative;
    color: white;
}


.third img {
    width: 100vw;
    height: 100vh;
    object-fit: cover;

}

.img-content {
    width: 50%;
    position: absolute;
    top: 60px;
    right: 0;
}

.img-content h3 {
    color: #f5f6f9;
}

.img-content h2 {
    font-size: 40px;
    padding-bottom: 10px;
    width: 60%;
}

.img-content p {
    color: #f5f6f9;
    width: 80%;
}

.progress-circles  {
    color: white;
    position: absolute;
    right: 0;
    top: 320px;
    width: 50%;
    display: flex;
    gap: 55px;
}


.progress-circles h4 {
    color:white;
    font-size: 26px;
}

.fourth {
    padding: 70px 10px;
    display: flex;
    gap: 40px;
    justify-content: center;
}

.res-containers img {
    width: 100%;
    max-width: 390px;
    height: 250px;
    object-fit: cover;
    border-radius: 9px;
}




